*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "WS-Regular";
  src: url(assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "WS-Bold";
  src: url(assets/fonts/static/WorkSans-Bold.ttf);
}

@font-face {
  font-family: "WS-SemiBold";
  src: url(assets/fonts/static/WorkSans-SemiBold.ttf);
}

h1 {
  font-family: "WS-Bold";
}

body {
  background-color: hsl(275, 100%, 97%);
}

.faq-accordian {
  max-width: 750px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.faq-header {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-family: "WS-SemiBold";
}

.faq {
  margin: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid hsl(292, 16%, 89%);
}

.faq-4 {
  border: none;
}

.faq-answer {
  font-family: "WS-Regular";
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: all ease 0.2s;
  pointer-events: none;
}

.faq.active .faq-answer {
  /* display: block; */
  height: auto;
  opacity: 1;
  pointer-events: all;
}

.minus {
  display: none;
}

.faq.active .minus {
  display: block;
}

.faq.active .plus {
  display: none;
}

.mobile-image {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 100%;
}

@media (width <= 468px) {
  .mobile-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }

  .faq-question p {
    margin-right: 1rem;
  }
}
